<?xml version='1.0' encoding='utf-8'?>
<widget id="io.smartholdem.walletpro" version="1.2.19" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SmartHoldem Wallet Pro</name>
    <description>SmartHoldem Wallet Pro for Android</description>
    <author email="support@smartholdem.io" href="https://smartholdem.io">
        SmartHoldem Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidXEnabled" value="true" />
        <preference name="ScrollEnabled" value="false" />
        <preference name="Backup" value="false" />
        <preference name="Orientation" value="portrait" />
    </platform>
</widget>